html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.px-box {
    width: 200px;
    background-color: beige;
}

.percent-wrapper {
    width: 100%;
}

.percent-box {
    width: 100%;
    background-color: lightcyan;
}

.em-box {
    /* font-size: 20px; */
    font-size: 2em;
    width: 10em;
    background-color: lightgoldenrodyellow;
}

.viewport-box {
    width: 70vw;
    background-color: azure;
}

.box {
    border: 2px solid black; 
    /*border-top: 3px inset royalblue;
    border-bottom: 1px dotted red; */
    border-width: 1px 3px 7px 11px;
    padding: 20px 10px;
    margin: 10px;
}
/* 1px은 위쪽, 그리고 시계방향으로 적용됨