body {
    padding: 20px;
    height: 1000px;
}


.container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-color: white;
    position: relative;
}

div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

.item1 {
    background-color: red;
    position: absolute;
    top: 30px;
    left: 50px;
}

.item2 {
    background-color: antiquewhite;
    position: absolute;
    right: 20px;
    bottom: 100px;
}

.item3{
    background-color: lightcoral;
    position: fixed;
    right: 100px;
    top: 100px;
}