.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 150px);
}

.item {
    background-color: beige;
    color: black;
}

.container .item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1{
    background-color: red;
    grid-column: 1 / span 6;
    color: white;
}

.item2{
    background-color: orangered;
    grid-row: 2 / span 2;

}

.item3{
    background-color: yellow;
    grid-column: 2 / span 4;
}

.item4{
    background-color: orange;
    grid-column: 2 / span 2 ;
}

.item5{
    background-color: greenyellow;
    grid-column: 4 / span 2;
}

.item6{
    background-color: green;
    grid-column: 6 / span 1;
    grid-row: 2 / span 2;
}

.item7{
    background-color: blue;
    grid-column: 1 / span 6;
    color: white;
}