.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    /* repeat - 수학 함수, 크기 지정한 거다.
    columns는 행, rows는 열 사이즈
    row repeat는 150px로 3번 반복했다. 실행*/
}

.item {
    border: 3px solid black;
    background-color: beige;
}

.item1 {
    background-color: aquamarine;
    /* grid-row: auto / span 2; 
    span 2= 2칸 정도 차지한다.*/
    grid-column: 1 / 3;
}

.item3 {
    background-color: pink;
    grid-column: 4 / 7 ;
}

.item4 {
    background-color: cornflowerblue;
    grid-column: auto / span 4;
}