.box {
    width: 200px;
    height: 200px;
    background-color: salmon;
    text-align: center;
    align-content: center;
}

/* 이동 */
.move:hover {
    /*transform: translateX(100px);*/
    transform: translateY(100px);
}

/*확대*/
.scale:hover{
    /*transform: scale(1.5);*/
    transform: scaleX(2);
}

/*회전*/
.rotate:hover {
    transform: rotate(10deg);
    /*시계방향으로 회전 */
}

/* 기울기 */
.skew:hover {
    transform: skew(10deg);
}

/*트랜지션*/
.bg {
    transition: background-color 0.5s ease, font-size 0.5s ease;
} /*속성명만 이쪽에 작성한다 */

.bg:hover {
    background-color: aliceblue;
    font-size: large;
} /*적용하는 건 이쪽 */

