body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    border-top: 3px solid crimson;
    /* animation */
    animation: spin 2s linear infinite;
}

/* animation: spin 쓴 spin(이름)과 일치시킨다.*/
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.blink {
    font-size: 20px;
    font-weight: bold;

    /* animation: blink 1s step-start infinite; */
    animation: blink 2s linear infinite;
}

@keyframes blink {
    /* 50% {
        opacity: 0;
    } */
    0%, 100% {
        opacity: 100;
    }
    50% {
        opacity: 0;
    } /*순차적으로 사라지고 생김 */
}