.box{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    transition: all 1s ease;
    transition-delay: 0.5s;
    /*스크롤 바 생성 */
    overflow: auto;
    /* transition: all 1s linear o.5s; */
}

.dg:hover{
    width: 300px;
    height: 300px;
}